
@{
    ViewBag.Title = "reg";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td> @Model.jobtitle</td>
                <td> @Model.responsibilities</td>
                <td> @Model.salary</td>
                <td> @Model.location</td>
                <td> @Model.contactnumberemail</td>
            </tr>
        </table>
    </div>
</body>
</html>
<h2>reg</h2>

